
.Location{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-top: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10rem auto;
    border-radius: 30px 30px 30px 30px;
    height: 60vh;
    padding: 1rem 1rem;
    flex-wrap: wrap;
}

.Location__Hero{
    display: flex;
    align-items: center;
}


.Location__Description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Location__Description--Description{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    margin-top: 4rem;
}

.Location__Description--City{
    font-size: 2.2rem;
    font-weight: 400;
    color: #c5c5c5;
}

.Location:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Location__Hero{
    display: flex;
    width: 100%;
    justify-content: space-around
}


.Location__Temperature,
.Location__Humidity {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;

}

.Location__Temperature h3,
.Location__Humidity h3{
    font-size: 2.5rem;
    width: 100%;
    padding-left: 2rem;
    text-align: center;
    margin: 0;
    padding-top: 6rem;
    font-weight: 600;
}

.Location__Temperature span,
.Location__Humidity span{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    text-align: center;
    padding: 5rem 0;  
    color: #c5c5c5;

}

.Location__Temperature button{
    justify-self: flex-end;
    align-self: flex-end;
    width: 6rem;
    margin-bottom: 1.5rem;
    margin-right: 0;
}


.Location__DetailButton {
    width: 80%;
    border: none;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 3rem;
    font-size: 3rem;
    background-color: #64e291;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
}

.Location__DetailButton:active{
    box-shadow: none;
    border: none;
    outline: none;
    transform: translateY(1px);
}

.Location__DetailButton:focus{
    outline: none;
}