@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;600;700&display=swap');

*{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Spartan', sans-serif;
    display: flex;
}
